footer {
  background-color: var(--cor-complementar);
  display: flex;
  flex-direction: column;
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cor-complementar-media);
}

.newsletter__input {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
}

.newsletter__input > p {
  color: var(--cor-primaria);
  font-size: var(--fonte-tamanho-media);
  font-weight: var(--fonte-peso-bold);
}

.newsletter__input-form::placeholder {
  color: var(--cor-preto);
}

.newsletter__input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.newsletter__input-form-colect {
  padding-left: 1rem;
  height: 2rem;
  border: none;
  width: 15rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--cor-complementar-clara);
  outline: var(--cor-complementar) solid 1px;
}

.newsletter__input-form-colect:focus {
  background-color: var(--cor-primaria);
  outline: var(--cor-complementar) solid 1px;
}

.newsletter__input-form-colect::placeholder {
  color: var(--cor-complementar);
}

.newsletter__input-form-colect:focus::placeholder {
  color: var(--cor-complementar);
  transition: all 0.3s ease-in-out;
}

.newsletter__input-form-button {
  height: 2rem;
  width: 4rem;
  border: none;
  background-color: var(--cor-complementar);
  transition: all 0.3s ease-in-out;
  color: var(--cor-primaria);
  outline: var(--cor-complementar) solid 1px;
}

.newsletter__input-form-button:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-complementar);
  outline: var(--cor-complementar) solid 1px;

  transition: all 0.2s ease-in-out;
}

.newsletter__input-form-button:active {
  background-color: var(--cor-complementar-clara);
  color: var(--cor-complementar);
  outline: var(--cor-complementar) solid 1px;
  transition: all 0.2s ease-in-out;
}

.navFooter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.navFooter-menu,
.navFooter-socials {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.navFooter-menu li {
  color: var(--cor-branco);
  padding: 0.7rem 1.5rem;
  transition: all 0.3s ease-in-out;
}

.navFooter-menu li a:hover {
  color: var(--cor-primaria);
  transition: all 0.3s ease-in-out;
}

.navFooter-socials {
  gap: 2rem;
}
.navFooter-socials img {
  width: 2rem;
}

.facebook-icon {
  background-image: url("/assets/images/generic/socials/facebook.svg");
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
  transition: background-image 0.3s ease-in-out;
}

.navFooter-socials > a:hover .facebook-icon {
  transition: background-image 0.3s ease-in-out;
  background-image: url("/assets/images/generic/socials/facebook-hover.svg");
}

.instagram-icon {
  background-image: url("/assets/images/generic/socials/instagram.svg");
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
  transition: background-image 0.3s ease-in-out;
}

.navFooter-socials > a:hover .instagram-icon {
  transition: background-image 0.3s ease-in-out;
  background-image: url("/assets/images/generic/socials/instagram-hover.svg");
}

.x-twitter-icon {
  background-image: url("/assets/images/generic/socials/x-twitter.svg");
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
  transition: background-image 0.3s ease-in-out;
}

.navFooter-socials > a:hover .x-twitter-icon {
  transition: background-image 0.3s ease-in-out;
  background-image: url("/assets/images/generic/socials/x-twitter-hover.svg");
}
