.heroFeatures {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/components/hero-features/hero-features-bg-splash.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.heroFeatures__content {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  height: 70vh;
}
.heroFeatures__header {
  color: var(--cor-primaria);
  font-size: calc(var(--fonte-tamanho-grande) * 2);
  font-weight: var(--fonte-peso-bold);
  text-wrap: wrap;
}
.heroFeatures__badges {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.heroFeatures__badges img {
  width: 8rem;
  height: auto;
}
