/*=============== RESET CSS ===============*/
@import "./reset.css";

/*=============== IMPORTAÇÃO DE OUTROS ESTILOS ===============*/
@import "./navbar.css";
@import "./hero-section-top.css";
@import "./hero-features-section.css";
@import "./footer.css";

/* Importe media queries para design responsivo */
@import "./media-queries.css";

/*=============== FONTES DO GOOGLE ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*=============== Fonte Padrão ===============*/
body {
  font-family: "Montserrat", sans-serif;
}

/*=============== VARIÁVEIS GLOBAIS CSS ===============*/
:root {
  /*========== Cores ==========*/
  /* Modo de cor HSL (matiz, saturação, luminosidade)*/
  --cor-primaria: hsl(45, 100%, 50%);
  --cor-primaria-clara: hsl(45, 100%, 90%);
  --cor-complementar: hsl(0, 0%, 13%);
  --cor-complementar-media: hsl(0, 0%, 20%);
  --cor-complementar-clara: hsl(0, 0%, 90%);
  --cor-branco: hsl(0, 0%, 100%);
  --cor-preto: hsl(0, 0%, 0%);

  /*========== Fonte e tipografia ==========*/
  /* 0.5rem = 8px | 1rem = 16px  */
  --fonte-primaria: "Montserrat", sans-serif;
  --fonte-complementar: "Bebas Neue", sans-serif;
  --biggest-font-size: 5rem;
  --fonte-tamanho-grande: 2rem;
  --fonte-tamanho-normal: 1rem;
  --fonte-tamanho-pequeno: 0.5rem;

  /*========== Peso da Fonte ==========*/
  --fonte-peso-normal: 400;
  --fonte-peso-media: 600;
  --fonte-peso-bold: 700;
}
